@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* note that snap behaviour only takes effect when parent cannot contain all, so a all-showing page will not exhibit snap effect*/
  .scroll-snap-y-madatory {
    scroll-snap-type: y mandatory;
  }
  .scroll-snap-start {
    scroll-snap-align: start;
  }

  .smooth-scroll-y {
    scroll-behavior: smooth;
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
